<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <div class="card">
                <div class="card-header">
                    <h2 class="float-left">User Fuel Management</h2>
                </div>
                <div class="card-body">
                    <table class="table table table-hover table-bordered table-stripped" datatable
                        [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" id="mainTable">
                        <thead>
                            <tr>
                                <th scope="col">S no.</th>
                                <th scope="col">Fuel Name</th>
                                <th scope="col">Created Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let fuel of allVehicleTypes; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{fuel?.fuelTypeName  | titlecase}}</td>
                                <td>{{fuel?.createdAt  | date : "dd/MM/yy"}}</td>
                                <td
                                    [ngClass]="{'bg-danger':!(fuel?.isActive), 'bg-success':fuel?.isActive}">
                                    {{fuel?.isActive ? 'Active' : 'Inactive'}}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm mx-1" (click)="editVehicleType(i)">Edit</a>
                                    <a class="btn btn-primary btn-sm mx-1" (click)="deleteVehicleType(i)">Delete</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3>Add New Fuel</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="fuelTypeForm" (ngSubmit)="onSubmit()">
                        <div class="container" style="margin: 0;padding: 0;">
                            <div class="form-group text-center">
                                <label for="exampleInputEmail1"><b>Fuel
                                        Name</b> </label>
                                <input type="text" class="form-control" placeholder="Fuel Name Here "
                                    formControlName="fuelTypeName" required
                                    [ngClass]="{ 'is-invalid': submitted && f.fuelTypeName.errors }">
                                <div *ngIf="submitted && f.fuelTypeName.errors" class="invalid-feedback">
                                    <div *ngIf="f.fuelTypeName.errors.required">fuel Name Is
                                        Required</div>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <label for="exampleInputEmail1"> <b>Is Active</b> </label>
                                <div class="custom-control custom-switch">
                                    <input type="checkbox" class="custom-control-input" id="customSwitch1"
                                        formControlName="isActive">
                                    <label class="custom-control-label" for="customSwitch1">Is Active</label>
                                </div>
                                <div *ngIf="submitted && f.fuelTypeName.errors" class="invalid-feedback">
                                    <div *ngIf="f.fuelTypeName.errors.required">fuel Name Is
                                        Required</div>
                                </div>
                            </div>
                            <br>
                        </div>
                        <div class=" text-center">
                            <button type="submit" class="btn btn-primary tx-13 mx-1" *ngIf="!uploading">Save</button>
                            <button class="btn btn-primary" type="button" disabled *ngIf="uploading">
                                <span class="spinner-border spinner-border-sm" fuel="status"
                                    aria-hidden="true"></span>
                                Saving...
                            </button>
                        </div>
                        <!-- <div class="text-center">
                  <button type="submit" class="btn btn-primary tx-13 mx-1">Save</button>
                  <button type="button" class="btn btn-secondary tx-13" data-dismiss="modal">Close</button>
                </div> -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>