<div class="container">
    <div class="row">
        <div class="card w-100">
            <h5 class="text-center">Hello, This is the map tracker with vehicle CRUD , BY Vaibhav S Thangriyal</h5>
            <p> Here you will see all the instructions to run the application and all the features so that you
                understand
                all its features.
                Try to follow the instructions so that you could understand the application in a much easier and better
                manner</p>
            <p> Some of the highlighted feature of this applications are </p>

            <ul>
                <li> pagination</li>
                <li> searching </li>
                <li>sorting</li>
                <li>export to csv</li>
                <li>export to pdf</li>
            </ul>
            <div class="card">
                <div class="card-header">this application consists of 5 different modules </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <b>User management</b>
                            <ul>
                                <li>add user</li>
                                <li>edit user</li>
                                <li>delete user</li>
                                <li>change user role</li>
                            </ul>
                        </div>
                        <div class="col">

                            <b> User Role management</b>
                            <ul>
                                <li>add user role</li>
                                <li>edit user role</li>
                                <li>delete user role</li>
                                <li>export to csv</li>
                            </ul>
                        </div>
                        <div class="col">
                            <b> fuel management</b>
                            <ul>
                                <li>add fuel</li>
                                <li> edit fuel</li>
                                <li>delete fuel</li>
                                <li>export to csv</li>
                            </ul>
                        </div>
                        <div class="col"> <b>vehicle type management</b>
                            <ul>
                                <li>add vehicle type</li>
                                <li>edit vehicle type</li>
                                <li>delete vehicle type</li>
                                <li>export to csv</li>
                            </ul>
                        </div>
                        <div class="col">
                            <b>vehicle management</b>
                            <ul>
                                <li>add vehicle </li>
                                <li>edit vehicle </li>
                                <li>delete vehicle </li>
                                <li>export to csv</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card w-100 ml-auto mr-auto">
                <div class="card-header">Flow to follow to use this application</div>
                <div class="card-body">
                    <ul>
                        <li>1. Add User Role : This is need to create a user.</li>
                        <li>2. Add User (Using User Role) : This can be driver or any other role</li>
                        <li>3. Add Fuel Type : It is needed for the vehicle creation </li>
                        <li>4. Add Vehicle Type : It is need fot the vehicle creation</li>
                        <li>5. Add Vehicle : It needs driver (user), fuel type , vehicle type</li>
                        <li>6. Generate Locations (By clicking on Buttons) : This will assign some predefined lat,
                            lng to that vehicle . All locations are of Delhi NCR region</li>
                        <li>7. Go to map (by clicking on Maptracker on top left on navbar)</li>
                        <li>8. Click Track to track its location : This will create a route and will also mark all
                            the locations on map</li>
                    </ul>
                </div>
            </div>
            <div class="card w-100 mr-auto ml-auto">
                <div class="card-header">Map Screen</div>
                <div class="card-body">
                    Map Screen will show google map. And will always be centered on your current location. <br>
                    On Right side you will see list of all vehicles and thier Details. <br>
                    Once you Will click track button . It create a route from its first location to its last
                    location and will also show marker on every location with address of that location.
                </div>
            </div>

        </div>
    </div>