<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <!-- <a class="btn  btn-secondary navbar-brand" routerLink="map">MapTracker</a> -->
  <a class="navbar-brand" href="#">
    <img src="https://lh3.googleusercontent.com/proxy/vedVE0Sk4D6jdCk0bVSvNcoPNzA4D6T_PgmQs4gPpJ0lz4tz6h2mSjEOazzlX3VmInogP5k2aTsSR1t5VB6yiCAL4b6numijEIiuft2tdswlx8FFleUGL67RpUSdbg" width="30" height="30" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="map" >  Map </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="users"> Add Driver </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Vehicle Management
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="vehicletype">Vehicle Type Managment</a>
          <a class="dropdown-item" routerLink="fuel">Fuel Management</a>
          <a class="dropdown-item" routerLink="vehicle">Vehicle Management</a>
        </div>
      </li>
    </ul>
    <button type="button" (click)="logout()" class="btn btn-outline-danger  my-2 my-lg-0"> Log Out </button>
  </div>
</nav>
